<ion-view view-title="Evento" name="admin-view" on-swipe-left="onSwipeLeft()">

  <ion-content class="padding">
      
  	<div class="list card">
  		<div class="item">
  			<h2 class="icon-left ion-ios-information-outline">Leanne Graham</h2>
  			<p class="icon-left ion-location">Kulas Light, Apt. 556</p>
  			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla diam nisi, vitae cursus dolor vehicula vel. Cras ut pellentesque lacus. Pellentesque vehicula diam eu malesuada pharetra</p>
  			<button class="button button-small button-positive" style="position: relative;left: 50%;transform: translateX(-50%);">
			  Subscribe
			</button>
  		</div>
  		<div class="item item-image">
  			<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" does-continue="true">
			  <ion-slide>
			    <img src="https://unsplash.it/500/500/?image=724" class="full-image">
			  </ion-slide>
			  <ion-slide>
			    <img src="https://unsplash.it/500/500/?image=738" class="full-image">
			  </ion-slide>
			  <ion-slide>
			    <img src="https://unsplash.it/500/500/?image=743" class="full-image">
			  </ion-slide>
			</ion-slide-box>
  		</div>
  		<div class="item">
  			<div id="map2" data-tap-disabled="true" style="width: 100%; height: 200px;"></div>
  		</div>
  		<div class="item">
  			
  		</div>
  	</div>

  </ion-content>
</ion-view>